/*외부라이브러리는 스코프가 달라질 수 있기 때문에 따로 빼서 사용하는게 좋다*/

.swiper,
.swiper-wrapper {
  height: 520px !important;
  border-radius: 4px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.swiper-slide img {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 20px !important;
  height: 20px !important;
  color: #334155 !important;
  &:after {
    font-size: 20px !important;
    font-weight: 700;
  }
}
.swiper-pagination-bullet-active {
  background: #334155 !important;
}
