@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .default-layout {
    @apply m-auto px-5 lg:px-8 lg:max-w-[1240px];
  }
  .form-section-layout {
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
  .flex-center {
    @apply flex justify-center items-center gap-4;
  }
  .flex-row {
    @apply flex justify-start items-center gap-4;
  }
  .flex-between {
    @apply flex justify-between items-center w-full h-full;
  }
  .flex-col-default {
    @apply flex flex-col justify-center items-start gap-4;
  }
  .default-btn {
    @apply bg-primary text-white px-3 py-1 rounded-md;
  }

  .dashed-horizon-line {
    @apply my-10 border-dashed border-b-4;
  }
}

@media (prefers-color-scheme: dark) {
}

body {
  p {
    line-height: normal;
  }
  input:active,
  input:focus {
    outline: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
