@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.wave1 {
  animation: move-forever 6s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation-delay: -2s;
}

.wave2 {
  animation: move-forever 10s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation-delay: -3s;
}

.wave3 {
  animation: move-forever 13s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation-delay: -4s;
}

.wave4 {
  animation: move-forever 20s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation-delay: -5s;
}

@layer components {
  .default-layout {
    @apply m-auto px-5 lg:px-8 lg:max-w-[1240px];
  }
  .form-section-layout {
    @apply w-full flex flex-col justify-start items-start gap-4;
  }
  .flex-center {
    @apply flex justify-center items-center gap-4;
  }
  .flex-row {
    @apply flex justify-start items-center gap-4;
  }
  .flex-between {
    @apply flex justify-between items-center w-full h-full;
  }
  .flex-col-default {
    @apply flex flex-col justify-center items-start gap-4;
  }
  .default-btn {
    @apply bg-primary text-white px-3 py-1 rounded-md;
  }
  .dashed-horizon-line {
    @apply my-10 border-dashed border-b-4;
  }
  .sub-title {
    @apply text-xs tracking-[5px] text-[#774b20] font-bookk;
  }
  .focus-ring {
    @apply focus:ring-offset-2 focus:ring-2 ring-default-beige;
  }
}

@media (prefers-color-scheme: dark) {
}

body {
  p {
    line-height: 24px;
  }
  input:active,
  input:focus,
  textarea:active,
  textarea:focus {
    outline: none;
  }

  &.hidden-scroll {
    overflow: hidden !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mantine-DatePicker-calendarHeader {
  display: none !important;
}
.mantine-focus-auto[data-selected] {
  background: #494949 !important;
  border-radius: 50%;
}
.mantine-DatePicker-day:not([data-selected]):hover,
.mantine-DatePicker-day:not([data-selected]):focus {
  background-color: transparent !important;

  border-color: transparent !important;
  cursor: default !important;
}

.day,
.mantine-DatePicker-monthRow,
.mantine-focus-auto {
  cursor: default !important;
  font-size: 13px !important;
}
.mantine-DatePicker {
  pointer-events: none;
}
